.home {
  text-align: center;

  background-color: rgb(197, 226, 197);
  width: 100%;
}

@media only screen and (max-width: 1300px) {
  .catpic {
    width: 90%;
    height: 90%;
  }

  .home {
    width: 100%;


  }

}