.App {
  background-color: rgb(197, 226, 197);
  margin: 0;
  height: 100vh;

}

.contanier {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(105, 105, 105);
  font-size: xx-large;
  color: rgb(226, 209, 197);
  margin: 0;
}

img {
  text-align: center;
  padding: 10px;
  height: 400px;
  text-align: center;
}

.link {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.link:hover {
  background-color: lightgray;
}